# Imports

In [290]:
import pandas as pd
import os 
current_folder = os.getcwd()
print(current_folder)
parent_folder = os.path.dirname(current_folder)
os.chdir(parent_folder)

/home/araceli/code/energy-analysis-and-predictions

In [333]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

from utils.parameters import ENERGY_COMPANIES_FOLDER, ENERGY_COMPANY_SECTOR,\
                            DICT_COMPANIES_NAME_TO_CHANGE, \
                            LIST_WEIRD_FIRST_RAW

from load_data.load_energy_produced_by_companies import load_company_data_by_sector

from predict_data.create_train_test_data import get_scaled_X_y_train_and_test_data
from predict_data.create_simple_train_test_data import get_X_y_scaled_and_splited                       
from predict_data.load_gru_model import load_gru_model          
from predict_data.model_methods import compile_model, train_model,evaluate_model, predict_model                                          

from visualize_data.plot_price_with_interactive_timestamps import plot_price_with_interactive_timestamps   
from visualize_data.plot_model_history import plot_history
from visualize_data.plot_predict_vs_test import plot_predict_vs_test

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Company Sectors

In [328]:
energy_sectors = pd.read_csv(ENERGY_COMPANY_SECTOR , delimiter = ",", encoding = "utf-8") 
energy_sectors['Energy_Source'] = energy_sectors['Energy_Source'].map(lambda x: str(x)[:-1])
energy_sectors['Name'] = energy_sectors['Name'].map(lambda x: str(x)[:-1])
energy_sectors['Name'] = energy_sectors['Name'].map(lambda x: str(x).replace(' ', '-'))
energy_sectors['Name'] = energy_sectors['Name'].map(lambda x: str(x).replace('_', '-'))
energy_sectors = energy_sectors.dropna()
energy_sectors = energy_sectors.drop_duplicates()
energy_sectors.head()

,Name,Place,Energy_Source,Rated_capacity
0,Abfallentsorgungszentrum-Asdonkshof,Kamp-Lintfort,Abfall,20.8 MW
1,Abfallheizkraftwerk-Neunkirchen,Neunkirchen,Abfall,11.6 MW
2,AMK---Abfallentsorgungsgesellschaft-des-Maerki...,Iserlohn,Abfall,12.6 MW
3,AVA-GmbH,Augsburg,Abfall,10 MW
4,AVA-Velsen,Saarbruecken,Abfall,16 MW

In [329]:
cond = energy_sectors['Name'].str.contains('Ludwigshafen') 
#cond = energy_sectors['Energy_Source'] == 'Laufwasser'
#cond = energy_sectors['Name'] == 'Boxberg'
#test = energy_sectors[cond].sort_values(by='Name')
#test['Name'][532]
test = energy_sectors[cond]
#test['Name'].values
test

,Name,Place,Energy_Source,Rated_capacity
16,Fernheizkraftwerk-Ludwigshafen,Ludwigshafen,Abfall,28 MW
160,Blockheizkraftwerk-Ludwigshafen,Ludwigshafen,Erdgas,"12,5 MW"
680,Kraftwerk-BASF-Ludwigshafen-Nord,Ludwigshafen,Sonstige konventionelle Energietraeger,85 MW
681,Kraftwerk-BASF-Ludwigshafen-Mitte,Ludwigshafen,Erdgas,"1.074,5 MW"
684,Kraftwerk-BASF-Ludwigshafen-Sued,Ludwigshafen,Erdgas,410 MW

In [284]:
cond2 = energy_sectors['Energy_Source']=='Wind (Onshore)' 
#cond = energy_sectors['Energy_Source'] == 'Laufwasser'
#cond = energy_sectors['Name'] == 'Boxberg'
#test = energy_sectors[cond].sort_values(by='Name')
#test['Name'][532]
test2 = energy_sectors[cond2]
test2.reset_index(drop=True, inplace=True)
test2[80:]

,Name,Place,Energy_Source,Rated_capacity
80,Windpark-Weimar,Bucha,Wind (Onshore),12 MW
81,Windpark-Weilrod,Weilrod,Wind (Onshore),"16,8 MW"
82,Windpark-Weener-Verwaltungs-GmbH,Weener,Wind (Onshore),"21,5 MW"
83,Windpark-Wangelau,Wangelau,Wind (Onshore),"14,4 MW"
84,Windpark-Wanderup-West-GmbH-&-Co.-KG,Wanderup,Wind (Onshore),"15,9 MW"
85,Windpark-Wanderup,Wanderup,Wind (Onshore),"34,5 MW"
86,Windpark-Walsleben-Goldbeck,Goldbeck,Wind (Onshore),"18,3 MW"
87,Windpark-Walsleben-Goldbeck,Hansestadt Osterburg,Wind (Onshore),"21,3 MW"
88,Windpark-Waldow,Waldow,Wind (Onshore),28 MW

In [285]:
DICT_COMPANIES_NAME_TO_CHANGE = {'Altenw_rth': 'Altenwoerth',
                       'H_usling':'Haeusling',
                       'S_ckingen':'Saeckingen',
                       'Ro_hag':'Rosshag',
                       'M_nchen_Nord_2':'Muenchen-Nord-2',
                       'Linz-S_d_Fernheizkraftwerk':'Linz-Sued-Fernheizkraftwerk',
                       'Gro_kraftwerk_Mannheim': 'Grosskraftwerk-Mannheim',
                       'K_stenkraftwerk_K.I.E.L.':'Kuestenkraftwerk K.I.E.L', 
                       'Heizkraftwerk_R_merbr_cke': 'Heizkraftwerk-Roemerbruecke'}

In [69]:
text='Heizkraftwerk_R_merbr_cke'
if text in DICT_COMPANIES_NAME_TO_CHANGE.keys():
    text=DICT_COMPANIES_NAME_TO_CHANGE[text]
print(text)

Heizkraftwerk-Roemerbruecke

In [56]:
energy_sector_types = energy_sectors['Energy_Source'].value_counts()
energy_sector_types

Erdgas                                    269
Laufwasser                                104
Wind (Onshore)                             90
Steinkohle                                 80
Photovoltaik                               63
Biomasse                                   56
na                                         55
Abfall                                     45
Braunkohle                                 28
Pumpspeicher                               28
Wind (Offshore)                            28
Sonstige konventionelle Energietraeger     25
Mineraloelprodukte                         23
Speicherwasser (ohne Pumpspeicher)         21
Batteriespeicher                           15
Kernenergie                                 8
Steinkohle - Heizoe                         1
Biomass                                     1
Waerme                                      1
Erdgas – Heizoe                             1
Name: Energy_Source, dtype: int64

In [21]:
cond = energy_sectors['Name'].str.contains('Abwinden')
#cond = energy_sectors['Name'] == ' Abwinden-Asten'
energy_sectors[cond]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [64]:
dict_companies = {sector:[] for sector in sectors}
dict_companies

{'Abfall': [],
 'Batteriespeicher': [],
 'Biomass': [],
 'Biomasse': [],
 'Braunkohle': [],
 'Erdgas': [],
 'Erdgas – Heizoe': [],
 'Kernenergie': [],
 'Laufwasser': [],
 'Mineraloelprodukte': [],
 'Photovoltaik': [],
 'Pumpspeicher': [],
 'Sonstige konventionelle Energietraeger': [],
 'Speicherwasser (ohne Pumpspeicher)': [],
 'Steinkohle': [],
 'Steinkohle - Heizoe': [],
 'Waerme': [],
 'Wind (Offshore)': [],
 'Wind (Onshore)': [],
 'na': []}

# Power Plant data

In [83]:
#foldername = os.path.join(ENERGY_COMPANIES_FOLDER,'power-plant-data-2022-Jan-to-Dec' )
power_plant_list = os.listdir(ENERGY_COMPANIES_FOLDER)
power_plant_list.sort()
print('len(power_plant_list)=', len(power_plant_list))

len(power_plant_list)= 224

In [86]:
for file in power_plant_list:
    if 'Identifier' in file:
        power_plant_list.remove(file)
        
len(power_plant_list)

114

## Change delimiter

In [313]:
name ='Kraftwerk_BASF_Ludwigshafen_Mitte'
index=None
for file in power_plant_list:
    if name in file:
        index = power_plant_list.index(file)       
        print(index)

58

In [317]:
filename = os.path.join(ENERGY_COMPANIES_FOLDER, power_plant_list[index])
print(filename)
df = pd.read_csv(filename, delimiter=';')
#df.to_csv(filename, sep=';', index=False)
df.head()

/home/araceli/code/energy-analysis-and-predictions/raw_data/energy-companies/power-plant-data-2022-Jan-to-Dec/Kraftwerk_BASF_Ludwigshafen_Mitte_202201010000_202212312359_Tag_95.csv

  Datum;Anfang;Ende;Generation_DE  [MW] Berechnete Auflösungen;Generation_DE GUD A 800
0   DT 10 [MW] Berechnete Auflösungen;Generation_...
1                  DT 10 [MW] Berechnete Auflösungen
2                                                NaN
3                                                NaN
4                                                NaN

In [303]:
df = pd.read_csv(filename, delimiter=';', decimal=',')
df['Generation_DE Koepchenwerk [MW] Berechnete Auflösungen'].isna().value_counts()/df.shape[0]

False    1.0
Name: Generation_DE Koepchenwerk [MW] Berechnete Auflösungen, dtype: float64

In [306]:
type(df['Generation_DE Koepchenwerk [MW] Berechnete Auflösungen'][0])

str

In [156]:
if '(3 GT + 1 DT, Sammelschiene)' in df['Datum'][0]:
    df= df.iloc[1:,:]
df.head()

,Datum,Anfang,Ende,Generation_DE Heizkraftwerk Dresden-Nossener Brücke
1,01.01.2022,00:00,00:00,1.284
2,02.01.2022,00:00,00:00,1.354
3,03.01.2022,00:00,00:00,2.328
4,04.01.2022,00:00,00:00,4.449
5,05.01.2022,00:00,00:00,3.913

In [259]:
if type(df['Datum'][0])==str:
    df= df.iloc[1:,:]
    df.reset_index(drop=True, inplace=True)
df.head()

,Datum,Anfang,Ende,Generation_DE Heizkraftwerk Dresden-Nossener Brücke
0,01.01.2022,00:00,00:00,1.284
1,02.01.2022,00:00,00:00,1.354
2,03.01.2022,00:00,00:00,2.328
3,04.01.2022,00:00,00:00,4.449
4,05.01.2022,00:00,00:00,3.913

In [256]:
#type(df['Datum'][0])
df.columns

Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Heizkraftwerk Dresden-Nossener Brücke '],
      dtype='object')

In [261]:
def clean_column_dataframe(text):
    text =str(text)
    text=text.replace('.', '')
    text=text.replace(',', '.')
    text=text.replace('-', np.nan)
    text=text.astype('float32')
    text= text/1000 # true scale
    return text

In [262]:
df['new']=df['Generation_DE Heizkraftwerk Dresden-Nossener Brücke '].apply(clean_column_dataframe)
df

TypeError: replace() argument 2 must be str, not float

In [114]:
cols = list(df.columns)
for col in cols:
    print(col)
    if 'Unnamed' in col:
        df=df.drop(columns=col)
df.head()

Datum
Anfang
Ende
Generation_DE Block 4 [MW] Berechnete Auflösungen
Unnamed: 4

        Datum Anfang   Ende Generation_DE Block 4 [MW] Berechnete Auflösungen
0  01.01.2022  00:00  00:00                                                 0
1  02.01.2022  00:00  00:00                                                 0
2  03.01.2022  00:00  00:00                                                 0
3  04.01.2022  00:00  00:00                                                 0
4  05.01.2022  00:00  00:00                                                 0

In [ ]:
def convert_str_to_float(text):
    if text == '-':
        return 0
    else:
        text=text.replace(',','.')
        return float(text)

# Test load all the companis by sectors

In [331]:
DICT_COMPANIES_NAME_TO_CHANGE

{'Altenw_rth': 'Altenwoerth',
 'Heizkraftwerk_Altbach_Deizisau': 'Heizkraftwerk-Altbach/Deizisau',
 'GKH_St_cken': 'GKH-Stoecken',
 'H_usling': 'Haeusling',
 'S_ckingen': 'Saeckingen',
 'Ro_hag': 'Rosshag',
 'M_nchen_Nord_2': 'Muenchen-Nord-2',
 'Linz-S_d_Fernheizkraftwerk': 'Linz-Sued-Fernheizkraftwerk',
 'Gro_kraftwerk_Mannheim': 'Grosskraftwerk-Mannheim',
 'K_stenkraftwerk_K.I.E.L.': 'Kuestenkraftwerk-K.I.E.L',
 'Heizkraftwerk_R_merbr_cke': 'Heizkraftwerk-Roemerbruecke',
 'Heizkraftwerk_Dresden-Nossener_Br_cke': 'Heizkraftwerk-Dresden-Nossener-Bruecke',
 'Heizkraftwerk_M_nchen_S_d_GUD1_': 'Heizkraftwerk-Muenchen-Sued-GUD1',
 'Heizkraftwerk_M_nchen_S_d_GUD2': 'Heizkraftwerk-Muenchen-Sued-GUD2',
 'Heizkraftwerk_West__Frankfurt_': 'Heizkraftwerk-West-(Frankfurt)',
 'Kraftwerk_BASF_Ludwigshafen_S_d': 'Kraftwerk_BASF_Ludwigshafen_Sued'}

In [323]:
LIST_WEIRD_FIRST_RAW

['[MW] Berechnete Auflösungen',
 '(3 GT + 1 DT, Sammelschiene)',
 'GT 1, GT 2, DT 1 [MW] Berechnete Auflösungen']

In [332]:
dict_companies = load_company_data_by_sector()

Abwinden_Asten_202201010000_202212312359_Tag_1.csv
0 company =Abwinden_Asten.
2 company =Abwinden-Asten.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    99.178082
True      0.821918
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
               Name      Sector
533  Abwinden-Asten  Laufwasser

*************************************************************************
Altenwoerth_202201010000_202212312359_Tag_3.csv
0 company =Altenwoerth.
2 company =Altenwoerth.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
            Name      Sector
531  Altenwoerth  Laufwasser

*************************************************************************
Bergkamen_202201010000_202212312359_Tag_6.csv
0 company =Bergkamen.
2 company =Bergkamen.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Bergkamen A [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    96.712329
True      3.287671
Name: Generation_DE Bergkamen A [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Bergkamen A [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
          Name      Sector
808  Bergkamen  Steinkohle

*************************************************************************
Boxberg_202201010000_202212312359_Tag_8.csv
0 company =Boxberg.
2 company =Boxberg.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Boxberg Block N [MW] Berechnete Auflösungen',
       'Generation_DE Boxberg Block R [MW] Berechnete Auflösungen',
       'Generation_DE Boxberg Block P [MW] Berechnete Auflösungen',
       'Generation_DE Boxberg Block Q [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Boxberg Block N [MW] Berechnete Auflösungen, dtype: float64
nan_values False    99.178082
True      0.821918
Name: Generation_DE Boxberg Block R [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE Boxberg Block P [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE Boxberg Block Q [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Boxberg Block N [MW] Berechnete Auflösungen',
       'Generation_DE Boxberg Block R [MW] Berechnete Auflösungen',
       'Generation_DE Boxberg Block P [MW] Berechnete Auflösungen',
       'Generation_DE Boxberg Block Q [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
        Name      Sector
116  Boxberg  Braunkohle

*************************************************************************
Braunkohlekraftwerk_Lippendorf_202201010000_202212312359_Tag_9.csv
0 company =Braunkohlekraftwerk_Lippendorf.
2 company =Braunkohlekraftwerk-Lippendorf.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE R [MW] Berechnete Auflösungen',
       'Generation_DE LIP S [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE R [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE LIP S [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE R [MW] Berechnete Auflösungen',
       'Generation_DE LIP S [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                               Name      Sector
117  Braunkohlekraftwerk-Lippendorf  Braunkohle

*************************************************************************
Burghausen_GT_202201010000_202212312359_Tag_12.csv
0 company =Burghausen_GT.
2 company =Burghausen-GT.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Burghausen_GT 1 [MW] Berechnete Auflösungen',
       'Generation_DE BGH - O1 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    99.178082
True      0.821918
Name: Generation_DE Burghausen_GT 1 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE BGH - O1 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Burghausen_GT 1 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
              Name  Sector
166  Burghausen-GT  Erdgas

*************************************************************************
Cuno_Heizkraftwerk_Herdecke_202201010000_202212312359_Tag_18.csv
0 company =Cuno_Heizkraftwerk_Herdecke.
2 company =Cuno-Heizkraftwerk-Herdecke.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE H6 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    95.890411
True      4.109589
Name: Generation_DE H6 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE H6 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                            Name  Sector
171  Cuno-Heizkraftwerk-Herdecke  Erdgas

*************************************************************************
Datteln_202201010000_202212312359_Tag_20.csv
0 company =Datteln.
2 company =Datteln.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE 3.0 [MW] Berechnete Auflösungen',
       'Generation_DE 1.0 [MW] Berechnete Auflösungen',
       'Generation_DE 2.0 [MW] Berechnete Auflösungen',
       'Generation_DE 4.0 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE 3.0 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE 1.0 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE 2.0 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE 4.0 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE 4.0 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
        Name      Sector
805  Datteln  Steinkohle

*************************************************************************
Donaustadt_202201010000_202212312359_Tag_21.csv
0 company =Donaustadt.
2 company =Donaustadt.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    99.178082
True      0.821918
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
           Name  Sector
174  Donaustadt  Erdgas

*************************************************************************
Dormagen_202201010000_202212312359_Tag_22.csv
0 company =Dormagen.
2 company =Dormagen.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Gas-und-Dampfturbinen [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Gas-und-Dampfturbinen [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Gas-und-Dampfturbinen [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
         Name  Sector
175  Dormagen  Erdgas

*************************************************************************
Duisburg_Hamborn_202201010000_202212312359_Tag_23.csv
0 company =Duisburg_Hamborn.
2 company =Duisburg-Hamborn.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 3 [MW] Berechnete Auflösungen',
       'Generation_DE Block 4 [MW] Berechnete Auflösungen',
       'Generation_DE Block 5 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE Block 3 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    91.780822
True      8.219178
Name: Generation_DE Block 4 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    93.424658
True      6.575342
Name: Generation_DE Block 5 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 4 [MW] Berechnete Auflösungen',
       'Generation_DE Block 5 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                 Name                                  Sector
696  Duisburg-Hamborn  Sonstige konventionelle Energietraeger

*************************************************************************
Duisburg_Heizkraftwerk_III_202201010000_202212312359_Tag_25.csv
0 company =Duisburg_Heizkraftwerk_III.
2 company =Duisburg-Heizkraftwerk-III.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE III/B [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE III/B [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE III/B [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                           Name  Sector
178  Duisburg-Heizkraftwerk-III  Erdgas

*************************************************************************
Duisburg_Ruhrort_202201010000_202212312359_Tag_26.csv
0 company =Duisburg_Ruhrort.
2 company =Duisburg-Ruhrort.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 4 [MW] Berechnete Auflösungen', 'Unnamed: 4'],
      dtype='object')
nan_values False    92.054795
True      7.945205
Name: Generation_DE Block 4 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 4 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                 Name                                  Sector
695  Duisburg-Ruhrort  Sonstige konventionelle Energietraeger

*************************************************************************
Emsland_202201010000_202212312359_Tag_29.csv
0 company =Emsland.
2 company =Emsland.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE C2 [MW] Berechnete Auflösungen',
       'Generation_DE B2 [MW] Berechnete Auflösungen',
       'Generation_DE D [MW] Berechnete Auflösungen',
       'Generation_DE C1 [MW] Berechnete Auflösungen',
       'Generation_DE B1 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE C2 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE B2 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    99.178082
True      0.821918
Name: Generation_DE D [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE C1 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE B1 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE C2 [MW] Berechnete Auflösungen',
       'Generation_DE B2 [MW] Berechnete Auflösungen',
       'Generation_DE D [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
        Name  Sector
183  Emsland  Erdgas

*************************************************************************
Fernheizkraftwerk_Mellach_202201010000_202212312359_Tag_31.csv
0 company =Fernheizkraftwerk_Mellach.
2 company =Fernheizkraftwerk-Mellach.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                          Name      Sector
799  Fernheizkraftwerk-Mellach  Steinkohle

*************************************************************************
Franken_1_202201010000_202212312359_Tag_33.csv
0 company =Franken_1.
2 company =Franken-1.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE 1.0 [MW] Berechnete Auflösungen',
       'Generation_DE 2.0 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE 1.0 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE 2.0 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE 1.0 [MW] Berechnete Auflösungen',
       'Generation_DE 2.0 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
          Name  Sector
195  Franken-1  Erdgas

*************************************************************************
GKH_St_cken_202201010000_202212312359_Tag_45.csv
0 company =GKH_St_cken.
1 company =GKH-Stoecken.
2 company =GKH-Stoecken.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block2 [MW] Berechnete Auflösungen',
       'Generation_DE Block1 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Block2 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE Block1 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block2 [MW] Berechnete Auflösungen',
       'Generation_DE Block1 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
             Name      Sector
794  GKH-Stoecken  Steinkohle

*************************************************************************
Gas-und-Dampfturbinen_Kraftwerk_Mitte_202201010000_202212312359_Tag_37.csv
0 company =Gas-und-Dampfturbinen_Kraftwerk_Mitte.
2 company =Gas-und-Dampfturbinen-Kraftwerk-Mitte.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Gas-und-Dampfturbinen Mitte [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Gas-und-Dampfturbinen Mitte [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Gas-und-Dampfturbinen Mitte [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                                      Name  Sector
206  Gas-und-Dampfturbinen-Kraftwerk-Mitte  Erdgas

*************************************************************************
Gaskraftwerk_Irsching_202201010000_202212312359_Tag_38.csv
0 company =Gaskraftwerk_Irsching.
2 company =Gaskraftwerk-Irsching.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE 4.0 [MW] Berechnete Auflösungen',
       'Generation_DE 3.0 [MW] Berechnete Auflösungen',
       'Generation_DE 5.0 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE 4.0 [MW] Berechnete Auflösungen, dtype: float64

/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')

nan_values True    100.0
Name: Generation_DE 3.0 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    99.178082
True      0.821918
Name: Generation_DE 5.0 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE 4.0 [MW] Berechnete Auflösungen',
       'Generation_DE 5.0 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                      Name  Sector
215  Gaskraftwerk-Irsching  Erdgas

*************************************************************************
Gemeinschaftskernkraftwerk_Neckarwestheim_II_202201010000_202212312359_Tag_40.csv
0 company =Gemeinschaftskernkraftwerk_Neckarwestheim_II.
2 company =Gemeinschaftskernkraftwerk-Neckarwestheim-II.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE GKN II [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    99.178082
True      0.821918
Name: Generation_DE GKN II [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE GKN II [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                                             Name       Sector
425  Gemeinschaftskernkraftwerk-Neckarwestheim-II  Kernenergie

*************************************************************************
Gerlos_202201010000_202212312359_Tag_43.csv
0 company =Gerlos.
2 company =Gerlos.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
       Name                              Sector
701  Gerlos  Speicherwasser (ohne Pumpspeicher)

*************************************************************************
Gersteinwerk_202201010000_202212312359_Tag_44.csv
0 company =Gersteinwerk.
2 company =Gersteinwerk.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE G1 [MW] Berechnete Auflösungen',
       'Generation_DE I1 [MW] Berechnete Auflösungen',
       'Generation_DE F1 [MW] Berechnete Auflösungen',
       'Generation_DE H1 [MW] Berechnete Auflösungen',
       'Generation_DE I2 [MW] Berechnete Auflösungen',
       'Generation_DE K1  [MW] Berechnete Auflösungen',
       'Generation_DE F2 [MW] Berechnete Auflösungen',
       'Generation_DE G2 [MW] Berechnete Auflösungen',
       'Generation_DE K2 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE G1 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE I1 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE F1 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE H1 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE I2 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE K1  [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE F2 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE G2 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE K2 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE I2 [MW] Berechnete Auflösungen',
       'Generation_DE K1  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
             Name      Sector
225  Gersteinwerk  Steinkohle

*************************************************************************
Goldisthal_202201010000_202212312359_Tag_46.csv
0 company =Goldisthal.
2 company =Goldisthal.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE PSS A [MW] Berechnete Auflösungen',
       'Generation_DE PSS C [MW] Berechnete Auflösungen',
       'Generation_DE PSS D [MW] Berechnete Auflösungen',
       'Generation_DE PSS B [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE PSS A [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE PSS C [MW] Berechnete Auflösungen, dtype: float64
nan_values False    99.178082
True      0.821918
Name: Generation_DE PSS D [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE PSS B [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE PSS A [MW] Berechnete Auflösungen',
       'Generation_DE PSS C [MW] Berechnete Auflösungen',
       'Generation_DE PSS D [MW] Berechnete Auflösungen',
       'Generation_DE PSS B [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
           Name        Sector
670  Goldisthal  Pumpspeicher

*************************************************************************
Greifenstein_202201010000_202212312359_Tag_47.csv
0 company =Greifenstein.
2 company =Greifenstein.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
             Name      Sector
506  Greifenstein  Laufwasser

*************************************************************************
Gro_kraftwerk_Mannheim_202201010000_202212312359_Tag_49.csv
0 company =Gro_kraftwerk_Mannheim.
1 company =Grosskraftwerk-Mannheim.
2 company =Grosskraftwerk-Mannheim.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 6 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.630137
True      1.369863
Name: Generation_DE Block 6 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 6 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                        Name      Sector
791  Grosskraftwerk-Mannheim  Steinkohle

*************************************************************************
Gro_kraftwerk_Mannheim_202201010000_202212312359_Tag_50.csv
0 company =Gro_kraftwerk_Mannheim.
1 company =Grosskraftwerk-Mannheim.
2 company =Grosskraftwerk-Mannheim.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 7 [MW] Berechnete Auflösungen',
       'Generation_DE Block 8 [MW] Berechnete Auflösungen',
       'Generation_DE Block 3 [MW] Berechnete Auflösungen',
       'Generation_DE Block 4 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Block 7 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block 8 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block 3 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block 4 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 7 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                        Name      Sector
791  Grosskraftwerk-Mannheim  Steinkohle

*************************************************************************
Gro_kraftwerk_Mannheim_202201010000_202212312359_Tag_51.csv
0 company =Gro_kraftwerk_Mannheim.
1 company =Grosskraftwerk-Mannheim.
2 company =Grosskraftwerk-Mannheim.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 9 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Block 9 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 9 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                        Name      Sector
791  Grosskraftwerk-Mannheim  Steinkohle

*************************************************************************
GuD_Marzahn_202201010000_202212312359_Tag_53.csv
0 company =GuD_Marzahn.
2 company =GuD-Marzahn.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE GuD Marzahn Dampfturbine [MW] Berechnete Auflösungen',
       'Generation_DE GuD Marzahn Gasturbine [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE GuD Marzahn Dampfturbine [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE GuD Marzahn Gasturbine [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE GuD Marzahn Dampfturbine [MW] Berechnete Auflösungen',
       'Generation_DE GuD Marzahn Gasturbine [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
            Name  Sector
229  GuD-Marzahn  Erdgas

*************************************************************************
Haeusling_202201010000_202212312359_Tag_54.csv
0 company =Haeusling.
2 company =Haeusling.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
          Name        Sector
669  Haeusling  Pumpspeicher

*************************************************************************
Heizkraftwerk_Altbach_Deizisau_202201010000_202212312359_Tag_55.csv
0 company =Heizkraftwerk_Altbach_Deizisau.
1 company =Heizkraftwerk-Altbach/Deizisau.
2 company =Heizkraftwerk-Altbach/Deizisau.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Heizkraftwerk Altbach/Deizisau HKW 2 GT E (Solobetrieb) [MW] Berechnete Auflösungen',
       'Generation_DE Heizkraftwerk Altbach/Deizisau Block 4 GT A (solo) [MW] Berechnete Auflösungen',
       'Generation_DE Heizkraftwerk Altbach/Deizisau GT B [MW] Berechnete Auflösungen',
       'Generation_DE Heizkraftwerk Altbach/Deizisau GT C [MW] Berechnete Auflösungen',
       'Generation_DE Heizkraftwerk Altbach/Deizisau HKW 2 DT (Solobetrieb) [MW] Berechnete Auflösungen',
       'Generation_DE Heizkraftwerk Altbach/Deizisau HKW 1 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE Heizkraftwerk Altbach/Deizisau HKW 2 GT E (Solobetrieb) [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Heizkraftwerk Altbach/Deizisau Block 4 GT A (solo) [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Heizkraftwerk Altbach/Deizisau GT B [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Heizkraftwerk Altbach/Deizisau GT C [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE Heizkraftwerk Altbach/Deizisau HKW 2 DT (Solobetrieb) [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Heizkraftwerk Altbach/Deizisau HKW 1 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Heizkraftwerk Altbach/Deizisau HKW 2 DT (Solobetrieb) [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                               Name  Sector
238  Heizkraftwerk-Altbach/Deizisau  Erdgas

*************************************************************************
Heizkraftwerk_Dresden-Nossener_Br_cke_202201010000_202212312359_Tag_57.csv
0 company =Heizkraftwerk_Dresden-Nossener_Br_cke.
1 company =Heizkraftwerk-Dresden-Nossener-Bruecke.
2 company =Heizkraftwerk-Dresden-Nossener-Bruecke.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Heizkraftwerk Dresden-Nossener Brücke '],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Heizkraftwerk Dresden-Nossener Brücke , dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Heizkraftwerk Dresden-Nossener Brücke '],
      dtype='object')
company df that matches condition:
                                       Name  Sector
248  Heizkraftwerk-Dresden-Nossener-Bruecke  Erdgas

*************************************************************************
Heizkraftwerk_Heilbronn_202201010000_202212312359_Tag_59.csv
0 company =Heizkraftwerk_Heilbronn.
2 company =Heizkraftwerk-Heilbronn.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE HLB 6 [MW] Berechnete Auflösungen',
       'Generation_DE HLB 5 [MW] Berechnete Auflösungen',
       'Generation_DE HLB 7 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE HLB 6 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE HLB 5 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE HLB 7 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE HLB 7 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                        Name      Sector
785  Heizkraftwerk-Heilbronn  Steinkohle

*************************************************************************
Heizkraftwerk_Lausward_202201010000_202212312359_Tag_61.csv
0 company =Heizkraftwerk_Lausward.
2 company =Heizkraftwerk-Lausward.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block E GTE1 [MW] Berechnete Auflösungen',
       'Generation_DE Block E GTE2 [MW] Berechnete Auflösungen',
       'Generation_DE GuD F [MW] Berechnete Auflösungen',
       'Generation_DE AGas-und-Dampfturbinen [MW] Berechnete Auflösungen',
       'Generation_DE Block E [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE Block E GTE1 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block E GTE2 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE GuD F [MW] Berechnete Auflösungen, dtype: float64
nan_values False    99.178082
True      0.821918
Name: Generation_DE AGas-und-Dampfturbinen [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block E [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE GuD F [MW] Berechnete Auflösungen',
       'Generation_DE AGas-und-Dampfturbinen [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                       Name  Sector
273  Heizkraftwerk-Lausward  Erdgas

*************************************************************************
Heizkraftwerk_M_nchen_S_d_GUD1__202201010000_202212312359_Tag_64.csv
0 company =Heizkraftwerk_M_nchen_S_d_GUD1_.
1 company =Heizkraftwerk-Muenchen-Sued-GUD1.
2 company =Heizkraftwerk-Muenchen-Sued-GUD1.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Süd DT1 [MW] Berechnete Auflösungen',
       'Generation_DE Süd GT3 [MW] Berechnete Auflösungen',
       'Generation_DE Süd GT2 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE Süd DT1 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    99.178082
True      0.821918
Name: Generation_DE Süd GT3 [MW] Berechnete Auflösungen, dtype: float64

/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')

nan_values False    98.90411
True      1.09589
Name: Generation_DE Süd GT2 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Süd GT3 [MW] Berechnete Auflösungen',
       'Generation_DE Süd GT2 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                                 Name  Sector
279  Heizkraftwerk-Muenchen-Sued-GUD1  Erdgas

*************************************************************************
Heizkraftwerk_M_nchen_S_d_GUD2_202201010000_202212312359_Tag_65.csv
0 company =Heizkraftwerk_M_nchen_S_d_GUD2.
1 company =Heizkraftwerk-Muenchen-Sued-GUD2.
2 company =Heizkraftwerk-Muenchen-Sued-GUD2.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Süd GT 61 [MW] Berechnete Auflösungen',
       'Generation_DE Süd DT 60 [MW] Berechnete Auflösungen',
       'Generation_DE Süd GT 62 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Süd GT 61 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE Süd DT 60 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE Süd GT 62 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Süd GT 61 [MW] Berechnete Auflösungen',
       'Generation_DE Süd DT 60 [MW] Berechnete Auflösungen',
       'Generation_DE Süd GT 62 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                                 Name  Sector
280  Heizkraftwerk-Muenchen-Sued-GUD2  Erdgas

*************************************************************************
Heizkraftwerk_Merkenich_202201010000_202212312359_Tag_63.csv
0 company =Heizkraftwerk_Merkenich.
2 company =Heizkraftwerk-Merkenich.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 4 [MW] Berechnete Auflösungen',
       'Generation_DE Block 6 [MW] Berechnete Auflösungen',
       'Generation_DE Gas-und-Dampfturbinen [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE Block 4 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block 6 [MW] Berechnete Auflösungen, dtype: float64
nan_values True     99.726027
False     0.273973
Name: Generation_DE Gas-und-Dampfturbinen [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende'], dtype='object')
company df that matches condition:
                        Name  Sector
128  Heizkraftwerk-Merkenich  Erdgas

*************************************************************************
Heizkraftwerk_Niehl_202201010000_202212312359_Tag_67.csv
0 company =Heizkraftwerk_Niehl.
2 company =Heizkraftwerk-Niehl.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Gas-und-Dampfturbinen [MW] Berechnete Auflösungen',
       'Generation_DE Niehl 3 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True     75.068493
False    24.931507
Name: Generation_DE Gas-und-Dampfturbinen [MW] Berechnete Auflösungen, dtype: float64
nan_values False    63.013699
True     36.986301
Name: Generation_DE Niehl 3 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende'], dtype='object')
company df that matches condition:
                    Name  Sector
282  Heizkraftwerk-Niehl  Erdgas

*************************************************************************
Heizkraftwerk_R_merbr_cke_202201010000_202212312359_Tag_69.csv
0 company =Heizkraftwerk_R_merbr_cke.
1 company =Heizkraftwerk-Roemerbruecke.
2 company =Heizkraftwerk-Roemerbruecke.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Gas-und-Dampfturbinen-Anlage [MW] Berechnete Auflösungen',
       'Generation_DE Kohleanlage [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE Gas-und-Dampfturbinen-Anlage [MW] Berechnete Auflösungen, dtype: float64
nan_values False    99.178082
True      0.821918
Name: Generation_DE Kohleanlage [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Kohleanlage [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                            Name  Sector
288  Heizkraftwerk-Roemerbruecke  Erdgas

*************************************************************************
Heizkraftwerk_West_Wolfsburg_202201010000_202212312359_Tag_72.csv
0 company =Heizkraftwerk_West_Wolfsburg.
2 company =Heizkraftwerk-West-Wolfsburg.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 1 [MW] Berechnete Auflösungen',
       'Generation_DE Block 2 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Block 1 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    93.150685
True      6.849315
Name: Generation_DE Block 2 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 1 [MW] Berechnete Auflösungen',
       'Generation_DE Block 2 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                             Name      Sector
773  Heizkraftwerk-West-Wolfsburg  Steinkohle

*************************************************************************
Heizkraftwerk_West__Frankfurt__202201010000_202212312359_Tag_71.csv
0 company =Heizkraftwerk_West__Frankfurt_.
1 company =Heizkraftwerk-West-(Frankfurt).
2 company =Heizkraftwerk-West-(Frankfurt).
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE M4 [MW] Berechnete Auflösungen',
       'Generation_DE Block 4 [MW] Berechnete Auflösungen',
       'Generation_DE Block 3 [MW] Berechnete Auflösungen',
       'Generation_DE Block 2 [MW] Berechnete Auflösungen',
       'Generation_DE M5 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE M4 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE Block 4 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block 3 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block 2 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE M5 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 4 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                               Name  Sector
774  Heizkraftwerk-West-(Frankfurt)  Erdgas

*************************************************************************
Heyden_202201010000_202212312359_Tag_74.csv
0 company =Heyden.
2 company =Heyden.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE 4.0 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True     65.753425
False    34.246575
Name: Generation_DE 4.0 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende'], dtype='object')
company df that matches condition:
       Name      Sector
771  Heyden  Steinkohle

*************************************************************************
Huckingen_202201010000_202212312359_Tag_77.csv
0 company =Huckingen.
2 company =Huckingen.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Huckingen A [MW] Berechnete Auflösungen',
       'Generation_DE Huckingen B [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Huckingen A [MW] Berechnete Auflösungen, dtype: float64
nan_values False    99.178082
True      0.821918
Name: Generation_DE Huckingen B [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Huckingen A [MW] Berechnete Auflösungen',
       'Generation_DE Huckingen B [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
          Name                                  Sector
688  Huckingen  Sonstige konventionelle Energietraeger

*************************************************************************
Huntorf_202201010000_202212312359_Tag_78.csv
0 company =Huntorf.
2 company =Huntorf.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    99.178082
True      0.821918
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
        Name  Sector
189  Huntorf  Erdgas

*************************************************************************
IKS_PCK_Schwedt_202201010000_202212312359_Tag_80.csv
0 company =IKS_PCK_Schwedt.
2 company =IKS-PCK-Schwedt.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE SE 4 [MW] Berechnete Auflösungen',
       'Generation_DE Block 6 SE 6 [MW] Berechnete Auflösungen',
       'Generation_DE Block 5 SE 5 [MW] Berechnete Auflösungen',
       'Generation_DE Block 1 SE 1 [MW] Berechnete Auflösungen',
       'Generation_DE Block 2 SE 2 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True    100.0
Name: Generation_DE SE 4 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block 6 SE 6 [MW] Berechnete Auflösungen, dtype: float64
nan_values True    100.0
Name: Generation_DE Block 5 SE 5 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE Block 1 SE 1 [MW] Berechnete Auflösungen, dtype: float64
nan_values False    98.90411
True      1.09589
Name: Generation_DE Block 2 SE 2 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block 1 SE 1 [MW] Berechnete Auflösungen',
       'Generation_DE Block 2 SE 2 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                Name              Sector
560  IKS-PCK-Schwedt  Mineraloelprodukte

*************************************************************************
Isar_2_202201010000_202212312359_Tag_81.csv
0 company =Isar_2.
2 company =Isar-2.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE KKI 2 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE KKI 2 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE KKI 2 [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
       Name       Sector
422  Isar-2  Kernenergie

*************************************************************************
KNG_Kraftwerk_Rostock_202201010000_202212312359_Tag_91.csv
0 company =KNG_Kraftwerk_Rostock.
2 company =KNG-Kraftwerk-Rostock.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Rostock [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Rostock [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Rostock [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                      Name      Sector
768  KNG-Kraftwerk-Rostock  Steinkohle

*************************************************************************
KWH_Hannover_202201010000_202212312359_Tag_119.csv
0 company =KWH_Hannover.
2 company =KWH-Hannover.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE B [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    99.178082
True      0.821918
Name: Generation_DE B [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE B [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
             Name  Sector
200  KWH-Hannover  Erdgas

*************************************************************************
KWM_Mehrum_202201010000_202212312359_Tag_120.csv
0 company =KWM_Mehrum.
2 company =KWM-Mehrum.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Block3 [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values True     58.356164
False    41.643836
Name: Generation_DE Block3 [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende'], dtype='object')
company df that matches condition:
           Name      Sector
748  KWM-Mehrum  Steinkohle

*************************************************************************
K_stenkraftwerk_K.I.E.L._202201010000_202212312359_Tag_118.csv
0 company =K_stenkraftwerk_K.I.E.L..
1 company =Kuestenkraftwerk-K.I.E.L.
2 company =Kuestenkraftwerk-K.I.E.L.
all columns= Index(['Datum', 'Anfang', 'Ende', 'Generation_DE BHKW Modul 1-20'], dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE BHKW Modul 1-20, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende', 'Generation_DE BHKW Modul 1-20'], dtype='object')
company df that matches condition:
                         Name  Sector
374  Kuestenkraftwerk-K.I.E.L  Erdgas

*************************************************************************
Kaprun_Hauptstufe_202201010000_202212312359_Tag_82.csv
0 company =Kaprun_Hauptstufe.
2 company =Kaprun-Hauptstufe.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                  Name                              Sector
672  Kaprun-Hauptstufe  Speicherwasser (ohne Pumpspeicher)

*************************************************************************
Kaprun_Limberg_II_202201010000_202212312359_Tag_83.csv
0 company =Kaprun_Limberg_II.
2 company =Kaprun-Limberg-II.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                  Name        Sector
666  Kaprun-Limberg-II  Pumpspeicher

*************************************************************************
Kaprun_Oberstufe_202201010000_202212312359_Tag_84.csv
0 company =Kaprun_Oberstufe.
2 company =Kaprun-Oberstufe.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE  [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE  [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                 Name        Sector
683  Kaprun-Oberstufe  Pumpspeicher

*************************************************************************
Kernkraftwerk_Emsland_202201010000_202212312359_Tag_86.csv
0 company =Kernkraftwerk_Emsland.
2 company =Kernkraftwerk-Emsland.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE KKE [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE KKE [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE KKE [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                      Name       Sector
420  Kernkraftwerk-Emsland  Kernenergie

*************************************************************************
Klingenberg_202201010000_202212312359_Tag_88.csv
0 company =Klingenberg.
2 company =Klingenberg.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Klingenberg [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Klingenberg [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Klingenberg [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
            Name  Sector
757  Klingenberg  Erdgas

*************************************************************************
Knapsack_Gas_II_202201010000_202212312359_Tag_90.csv
0 company =Knapsack_Gas_II.
2 company =Knapsack-Gas-II.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE II [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE II [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE II [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
                Name  Sector
758  Knapsack-Gas-II  Erdgas

*************************************************************************
Knapsack_Gas_I_202201010000_202212312359_Tag_89.csv

/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')

0 company =Knapsack_Gas_I.
2 company =Knapsack-Gas-I.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE I [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    99.178082
True      0.821918
Name: Generation_DE I [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE I [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
               Name  Sector
779  Knapsack-Gas-I  Erdgas

*************************************************************************
Koepchenwerk_202201010000_202212312359_Tag_92.csv
0 company =Koepchenwerk.
2 company =Koepchenwerk.
all columns= Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Koepchenwerk [MW] Berechnete Auflösungen'],
      dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE Koepchenwerk [MW] Berechnete Auflösungen, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende',
       'Generation_DE Koepchenwerk [MW] Berechnete Auflösungen'],
      dtype='object')
company df that matches condition:
             Name        Sector
665  Koepchenwerk  Pumpspeicher

*************************************************************************
Kraftwerk_BASF_Ludwigshafen_S_d_202201010000_202212312359_Tag_96.csv
0 company =Kraftwerk_BASF_Ludwigshafen_S_d.
2 company =Kraftwerk-BASF-Ludwigshafen-S-d.
all columns= Index(['Datum', 'Anfang', 'Ende', 'Generation_DE GUD C 200'], dtype='object')
nan_values False    98.90411
True      1.09589
Name: Generation_DE GUD C 200, dtype: float64
df.columns =  Index(['Datum', 'Anfang', 'Ende', 'Generation_DE GUD C 200'], dtype='object')
company df that matches condition:
Empty DataFrame
Columns: [Name, Sector]
Index: []

/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')
/home/araceli/code/energy-analysis-and-predictions/load_data/load_energy_produced_by_companies.py:80: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace('.', '')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [189]:
comp = 'Heizkraftwerk_M_nchen_S_d_GUD2' 
if comp in DICT_COMPANIES_NAME_TO_CHANGE.keys():
    comp=DICT_COMPANIES_NAME_TO_CHANGE[comp]
    print(f'comp changed')
comp

'Heizkraftwerk_M_nchen_S_d_GUD2'