In [1]:
import pandas as pd

# Investigate Data from Commercial foreign trade (Kommerzieler Ausserhandel Preis)

In [ ]:
foreing_trade = pd.read_csv('data-prices/Kommerzieller_Au_enhandel_2018_01_01_2018_12_31_Tag.csv', delimiter=';', decimal=',')
foreing_trade.head()

,Datum,Anfang,Ende,Nettoexport [MWh] Berechnete Auflösungen,Niederlande (Export) [MWh] Berechnete Auflösungen,Niederlande (Import) [MWh] Berechnete Auflösungen,Schweiz (Export) [MWh] Berechnete Auflösungen,Schweiz (Import) [MWh] Berechnete Auflösungen,Dänemark (Export) [MWh] Berechnete Auflösungen,Dänemark (Import) [MWh] Berechnete Auflösungen,...,Österreich (Export) [MWh] Berechnete Auflösungen,Österreich (Import) [MWh] Berechnete Auflösungen,Frankreich (Export) [MWh] Berechnete Auflösungen,Frankreich (Import) [MWh] Berechnete Auflösungen,Polen (Export) [MWh] Berechnete Auflösungen,Polen (Import) [MWh] Berechnete Auflösungen,Norwegen (Export) [MWh] Berechnete Auflösungen,Norwegen (Import) [MWh] Berechnete Auflösungen,Belgien (Export) [MWh] Berechnete Auflösungen,Belgien (Import) [MWh] Berechnete Auflösungen
0,01.01.2018,00:00,00:00,-,24.439,-172,19.250,-678,50.485,-85,...,120.809,-20.152,87.570,-14.248,2.933,-658,-,-,-,-
1,02.01.2018,00:00,00:00,-,55.880,-241,19.200,-287,18.874,-23.448,...,113.103,-52.742,36.463,-22.596,6.480,-581,-,-,-,-
2,03.01.2018,00:00,00:00,-,34.481,-24,19.202,-2,50.400,-30,...,135.379,-17.455,22.298,-2.909,6.688,0,-,-,-,-
3,04.01.2018,00:00,00:00,-,51.926,-2.052,21.722,-194,18.831,-26.153,...,120.083,-49.424,52.353,-32.326,2.663,-650,-,-,-,-
4,05.01.2018,00:00,00:00,-,58.059,-837,23.375,-4.317,15.987,-24.934,...,121.300,-44.237,63.425,-23.055,1.385,-7.027,-,-,-,-

In [ ]:
foreing_trade.columns

Index(['Datum', 'Anfang', 'Ende', 'Nettoexport [MWh] Berechnete Auflösungen',
       'Niederlande (Export) [MWh] Berechnete Auflösungen',
       'Niederlande (Import) [MWh] Berechnete Auflösungen',
       'Schweiz (Export) [MWh] Berechnete Auflösungen',
       'Schweiz (Import) [MWh] Berechnete Auflösungen',
       'Dänemark (Export) [MWh] Berechnete Auflösungen',
       'Dänemark (Import) [MWh] Berechnete Auflösungen',
       'Tschechien (Export) [MWh] Berechnete Auflösungen',
       'Tschechien (Import) [MWh] Berechnete Auflösungen',
       'Luxemburg (Export) [MWh] Berechnete Auflösungen',
       'Luxemburg (Import) [MWh] Berechnete Auflösungen',
       'Schweden (Export) [MWh] Berechnete Auflösungen',
       'Schweden (Import) [MWh] Berechnete Auflösungen',
       'Österreich (Export) [MWh] Berechnete Auflösungen',
       'Österreich (Import) [MWh] Berechnete Auflösungen',
       'Frankreich (Export) [MWh] Berechnete Auflösungen',
       'Frankreich (Import) [MWh] Berechnete Auflösungen',
       'Polen (Export) [MWh] Berechnete Auflösungen',
       'Polen (Import) [MWh] Berechnete Auflösungen',
       'Norwegen (Export) [MWh] Berechnete Auflösungen',
       'Norwegen (Import) [MWh] Berechnete Auflösungen',
       'Belgien (Export) [MWh] Berechnete Auflösungen',
       'Belgien (Import) [MWh] Berechnete Auflösungen', 'Date'],
      dtype='object')

In [ ]:
foreing_trade['Date'] = pd.to_datetime(foreing_trade['Date'], yearfirst=True)

In [ ]:
foreing_trade['Nettoexport [MWh] Berechnete Auflösungen'].value_counts(normalize=True)

-    1.0
Name: Nettoexport [MWh] Berechnete Auflösungen, dtype: float64

In [ ]:
foreing_trade['Norwegen (Import) [MWh] Berechnete Auflösungen'].value_counts(normalize=True)

-    1.0
Name: Norwegen (Import) [MWh] Berechnete Auflösungen, dtype: float64

In [ ]:
foreing_trade['Nettoexport [MWh] Berechnete Auflösungen'].value_counts(normalize=True)

-    1.0
Name: Nettoexport [MWh] Berechnete Auflösungen, dtype: float64

In [ ]:
foreing_trade['Norwegen (Import) [MWh] Berechnete Auflösungen'].value_counts(normalize=True)

-    1.0
Name: Norwegen (Import) [MWh] Berechnete Auflösungen, dtype: float64

# Investigate data from physical flow of electricity (physikalischer Stromfluss)

In [ ]:
electricity_flow = pd.read_csv('SMARD/data-prices/Physikalischer_Stromfluss_2018_01_01_2018_12_31_Tag.csv', delimiter=';', decimal=',')
electricity_flow.head()

In [ ]:
electricity_flow.shape

(365, 26)

In [ ]:
electricity_flow['Nettoexport [MWh] Berechnete Auflösungen'].value_counts(normalize=True)

NameError: name 'electricity_flow' is not defined

In [ ]:
electricity_flow['Norwegen (Export) [MWh] Berechnete Auflösungen'].value_counts(normalize=True)

NameError: name 'electricity_flow' is not defined

In [ ]:
total_data_days = (2022-2018)*365
total_data_days

1460

In [ ]:
total_data_hours = (2022-2018)*365*24
total_data_hours

35040

In [ ]:
electricity_flow['Norwegen (Export) [MWh] Berechnete Auflösungen'].value_counts(normalize=True)

NameError: name 'electricity_flow' is not defined

In [ ]:
total_data_days = (2022-2018)*365
total_data_days

1460

In [ ]:
total_data_hours = (2022-2018)*365*24
total_data_hours

35040

# Power Plant data

In [ ]:
path = r'SMARD/power-plant-data-2022-Jan-to-Dec'
power_plant_list = os.listdir(path)
power_plant_list.sort()
power_plant_list[0:5]

['Abwinden-Asten_202201010000_202212312359_Tag_1.csv',
 'Abwinden-Asten_202201010000_202212312359_Tag_1.csv:Zone.Identifier',
 'Altenw_rth_202201010000_202212312359_Tag_3.csv',
 'Altenw_rth_202201010000_202212312359_Tag_3.csv:Zone.Identifier',
 'Bergkamen_202201010000_202212312359_Tag_6.csv']

In [ ]:
len(power_plant_list)

226

In [ ]:
test =  pd.read_csv('SMARD/power-plant-data-2022-Jan-to-Dec/Amrumbank_West_202201010000_202212312359_Tag_4.csv',delimiter=';', decimal=',') 
test

In [ ]:
test.shape

(1, 4)

In [ ]:
test2 = pd.read_csv('SMARD/power-plant-data-2022-Jan-to-Dec/Pumpspeicherkraftwerk_Vianden_202201010000_202212312359_Tag_137.csv', delimiter=';', decimal=',') 
test2.head()

In [ ]:
num_cols = test2.columns[3:len(test2)]

In [ ]:
def convert_str_to_float(text):
    if text == '-':
        return 0
    else:
        text=text.replace(',','.')
        return float(text)

In [ ]:
test2['Generation_DE Maschine 9 [MW] Berechnete Auflösungen']=test2['Generation_DE Maschine 9 [MW] Berechnete Auflösungen'].apply(from_str_to_float)

In [ ]:
test2['Generation_DE Maschine 9 [MW] Berechnete Auflösungen'].head()

0    148.0
1      0.0
2    257.0
3    210.0
4      0.0
Name: Generation_DE Maschine 9 [MW] Berechnete Auflösungen, dtype: float64

In [ ]:
for col in num_cols:
    test2[col] = test2[col].apply(convert_str_to_float)

In [ ]:
test2.dtypes

Datum                                                     object
Anfang                                                    object
Ende                                                      object
Generation_DE Maschine 9 [MW] Berechnete Auflösungen     float64
Generation_DE Maschine 8 [MW] Berechnete Auflösungen     float64
Generation_DE Maschine 2 [MW] Berechnete Auflösungen     float64
Generation_DE Maschine 3 [MW] Berechnete Auflösungen     float64
Generation_DE Maschine 4 [MW] Berechnete Auflösungen     float64
Generation_DE Maschine 7 [MW] Berechnete Auflösungen     float64
Generation_DE Maschine 1 [MW] Berechnete Auflösungen     float64
Generation_DE Maschine 5 [MW] Berechnete Auflösungen     float64
Generation_DE Maschine 6 [MW] Berechnete Auflösungen     float64
Generation_DE Maschine 10 [MW] Berechnete Auflösungen    float64
Generation_DE Maschine 11 [MW] Berechnete Auflösungen    float64
dtype: object

In [ ]:
test2['Generation_DE [MW] Berechnete Auflösungen'] = test2.sum(numeric_only = True, axis =1)
test2.head()

In [ ]:
148.0 + 176.0+ 0.0+ 1.475+ 765.000+ 232.0+ 1.476+ 460.0	+ 391.0+ 0.0+ 292.0

2466.951

In [ ]:
type(test2['Generation_DE Maschine 9 [MW] Berechnete Auflösungen'][177])

str

In [ ]:
test2['Generation_DE Maschine 9 [MW] Berechnete Auflösungen'][178]

'-'

In [ ]:
float(test2['Generation_DE Maschine 9 [MW] Berechnete Auflösungen'][177])

230.0

In [ ]:
# Take first company
file1 = power_plant_list[0].split('_')[0]
col = file1.split('_')[0]
folder = path + '/' + power_plant_list[0]
power_plant = pd.read_csv(folder, delimiter=';', decimal=',')
power_plant.columns = ['Date', 'Start', 'End', col]
power_plant.head()

         Date  Start    End Abwinden-Asten
0  01.01.2022  00:00  00:00          3.906
1  02.01.2022  00:00  00:00          3.813
2  03.01.2022  00:00  00:00          3.479
3  04.01.2022  00:00  00:00          3.488
4  05.01.2022  00:00  00:00          3.667

In [ ]:
power_plant_list.pop(1)
power_plant_list[0:5]

['Abwinden-Asten_202201010000_202212312359_Tag_1.csv',
 'Ahrensfelde_202201010000_202212312359_Tag_2.csv',
 'Ahrensfelde_202201010000_202212312359_Tag_2.csv:Zone.Identifier',
 'Altenw_rth_202201010000_202212312359_Tag_3.csv',
 'Altenw_rth_202201010000_202212312359_Tag_3.csv:Zone.Identifier']

In [ ]:
for file in power_plant_list:
    col = file.split('_')[0]
    folder = path + '/' + file
    df = pd.read_csv(folder, delimiter=';', decimal=',')
    
    if df.shape[0] > 1:
        if df.shape[2] > 4:
            num_cols =  df.columns[3:len(test2)]
            for col in num_cols:
                test2[col] = test2[col].apply(convert_str_to_float)  
            df['Generation_DE [MW] Berechnete Auflösungen'] = df.sum(numeric_only = True, axis =1)
        data_name = 'Generation_DE [MW] Berechnete Auflösungen' 
        for i in df.columns:
            if 'Berechnete Auflösungen' in i:
                data_name = i
        power_plant[col] = df[data_name]
    else:
        print(f'Company {col} data is empty')

        Datum Anfang   Ende Generation_DE  [MW] Berechnete Auflösungen
0  01.01.2022  00:00  00:00                                      3.906
1  02.01.2022  00:00  00:00                                      3.813
2  03.01.2022  00:00  00:00                                      3.479
3  04.01.2022  00:00  00:00                                      3.488
4  05.01.2022  00:00  00:00                                      3.667

In [ ]:
power_plant_dict= {
    'Laufwasser': ['Abwinden-Asten'],
    'Erdgas' : ['Ahrensfelde']    
}

In [ ]:

test2 = pd.read_csv('Powerplant_types/Powerplant_types_v4.csv',delimiter = ",", encoding = "utf-8") 
test2.head()

,Name,Place,Energy_Source,Rated_capacity
0,Abfallentsorgungszentrum Asdonkshof,Kamp-Lintfort,Abfall,20.8 MW
1,Abfallheizkraftwerk Neunkirchen,Neunkirchen,Abfall,11.6 MW
2,AMK - Abfallentsorgungsgesellschaft des Maerki...,Iserlohn,Abfall,12.6 MW
3,AVA GmbH,Augsburg,Abfall,10 MW
4,AVA Velsen,Saarbruecken,Abfall,16 MW

In [ ]:
test2['Energy_Source'].value_counts()

Erdgas                                     269
Laufwasser                                 104
Wind (Onshore)                              90
Steinkohle                                  80
Photovoltaik                                63
Biomasse                                    56
Abfall                                      45
Braunkohle                                  28
Pumpspeicher                                28
Wind (Offshore)                             28
Sonstige konventionelle Energietraeger      25
Mineraloelprodukte                          23
Speicherwasser (ohne Pumpspeicher)          21
Batteriespeicher                            15
Kernenergie                                  8
Steinkohle - Heizoel                         1
Biomasse                                     1
Waerme                                       1
Erdgas – Heizoel                             1
Name: Energy_Source, dtype: int64